<% total = 0 %>
<% items = 0 %>
<% @cart.each do | id, quantity | %>
	<% product = Product.find_by_id(id) %>
	<tr>
	<td>
	<div class="image">
	<%= link_to (image_tag product.image_url, :style => "height:40px"), product %>
	</div>
	</td>
	<td class="title"><%= link_to product.title, product %></td>
	<td class="price"><%= number_to_currency(product.price) %></td>
	<td class="quantity"><%= quantity %><br /></td>
	<td class="price">
	<%= number_to_currency(quantity * product.price, :unit => "€") %>
	</td>
	</tr>
	<% total += quantity * product.price %>
	<% items += quantity  %>
	<% session[:total_amount] = total %>
	<% session[:items_in_cart] =items %>
<% end %>

<br />
<br />
<br />
<br />
<h1><%= @itemd %></h1>

<div id="cart_wrap">
	<h1>SHOPPING CART</h1>
	<ul id="product_nav">
		<li><a href=""></i>HOME</a></li>
		<li><a href="">WOMEN</a></li>
		<li><a href="">MEN</a></li>
		<li><a href="">BLOG</a></li>
		<li id="searc">
			SEARCH <i class="fa fa-book fa-lg"></i>
		</li>
	</ul>
	<h2>YOUR SHOPPING BAG</h2>
	<div id="left">
	<div id="cart_products">
		<p id="its">ITMES (<%= items %>)<a href="<%=cart_clear_path%>">CLEAR BAG <i class="fa fa-trash-o"></i></a></p>
	</div>
		<% if @cart.empty? %><p id="empty_lab"><i class="fa fa-info-circle fa-lg"></i> Your shopping bag currently is empty.</p><% end %>

		<ul id="c_products">
			<% @cart.each do | id, quantity | %>
			<% product = Product.find_by_id(id) %>
			<li>
				<div id="cart_img"></div>
				<h3><%= link_to product.title, product %></h3>
				<span><%= number_to_currency(total, :unit => "€") %></span>
				<p>
					Item B9262<br />
					Size: X-SMALL<br />
					Color: BLUE GROTTO<br />
				</p>
			</li>
			<% end %>
		</ul>
		<%= link_to 'Continue Shopping', :controller => :products %>

	</div><!--left -->


	<div id="checkout">
		<h3>SUMMARY</h3>
		<strong><p>SUBTOTAL<span><%= number_to_currency(total, :unit => "€") %></span></p></strong>
		<p>Duties<span>0</span></p>
		<p>Shipping<span>0</span></p>
		<p>Discount<span>0</span></p>
		<p>Tax<span>0</span></p>
		<h3 id="total">TOTAL<span><%= number_to_currency(total, :unit => "€") %></span></h3>
		<a href="">CHECK OUT NOW</a>
	</div>


</div><!--cart_wrap-->