*{margin: 0; padding: 0;}

 @font-face {
    font-family: bello;
    src: url(/assets/vendor/Bello.ttf);
}
body, a{
	font-family: helvetica;
	letter-spacing: 1px;
}


 #nav{
 	width: 100%;
 	height: 40px;
 	background: #000;
 	position: fixed;
 	float: left;
 }

 #logo{
 	font-family: bello;
 	color: #fff;
 	font-weight: normal;
 	margin: 0px auto;
 	height: 40px;
 	line-height: 40px;
 	text-align: center;
 }

 

 #searchf{
 	width: 12.5%;
 	height: 24px;
 	border: 1px solid #fff;
 	background: #000;
 	color: #fff;
 	margin: 7px 0 0 4%;
 	padding-left: 8px;
 	font-size: 11px;
 	float: left;
 	position: absolute;
 }

 #search_btn{
 	border: 0;
 	background: #000;
 	padding: 4px 5px;
 	margin:  8px 0 0 14.7%;
 	float: left;
 	color: #fff;
 	position: absolute;
 }

 #cart{
 	width: 300px;
 	right: 0;
 	top: 0;
 	height: 40px;
 	line-height: 40px;
 	position: absolute;
 }

 #cart .cart{
 	color: #fff;
 	text-decoration: none;
 	font-size: 10px;
 }

 #cart .fa-shopping-cart{
 	font-size: 12px;
 	margin: 0 5px 0 5px;
 }

 #sign_in, #sign_up{
 	color: #fff;
 	text-decoration: none;
 	font-size: 9px;
 }

 #nav span{
 	color: #fff;
 	position: absolute;
 	margin-left: 19%;
 	line-height: 40px;
 	font-size: 11px;
 	letter-spacing: 2px;
 }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new= require_tr .
 * file per style scope.
 *


 */

