*{margin: 0; padding: 0;}

 @font-face {
    font-family: bello;
    src: url(/assets/vendor/Bello.ttf);
}
body, a{
	font-family: helvetica;
	letter-spacing: 1px;
}

body{
	font-size: 13px;
}


 #nav{
 	width: 100%;
 	height: 40px;
 	background: #000;
 	position: fixed;
 	float: left;
 }

 #logo{
 	font-family: bello;
 	color: #fff;
 	font-weight: normal;
 	margin: 0px auto;
 	height: 40px;
 	line-height: 40px;
 	text-align: center;
 }

 

 #searchf{
 	width: 12.5%;
 	height: 24px;
 	border: 1px solid #fff;
 	background: #000;
 	color: #fff;
 	margin: 7px 0 0 4%;
 	padding-left: 8px;
 	font-size: 11px;
 	float: left;
 	position: absolute;
 }

 #search_btn{
 	border: 0;
 	background: #000;
 	padding: 4px 5px;
 	margin:  8px 0 0 14.7%;
 	float: left;
 	color: #fff;
 	position: absolute;
 }

 #cart{
 	width: 300px;
 	right: 0;
 	top: 0;
 	height: 40px;
 	line-height: 40px;
 	position: absolute;
 }

 #cart .cart{
 	color: #fff;
 	text-decoration: none;
 	font-size: 10px;
 }

 #cart .fa-shopping-cart{
 	font-size: 12px;
 	margin: 0 5px 0 5px;
 }

 #sign_in, #sign_up{
 	color: #fff;
 	text-decoration: none;
 	font-size: 9px;
 }

 #nav span{
 	color: #fff;
 	position: absolute;
 	margin-left: 19%;
 	line-height: 40px;
 	font-size: 11px;
 	letter-spacing: 2px;
 }
#footer{
	width: 100%;
	height: 200px;
	background: #000;
	color: #fff;
	float:left;
	margin-top: 600px;
}

#we{
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #ffcec9;
	color: #555;
}

#paypal{

	margin: 0 auto;
	display: block;
}

#footer_nav{
	width: 95%;
	margin: 20px 0 20px 5%;
	float: left;
}

#footer_nav li{
	list-style: none;
	float: left;
}

#footer_nav li a{
	text-decoration: none;
	float: left;
	color: #fff;
	border-radius: 5px;
	padding: 3px 5px;
	margin: 0 20px 0 0;	
	letter-spacing: 0;	
	font-size: 12px;
	font-style: italic;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

#cart_wrap{
	width: 92%;
	height: 2000px;
	box-sizing: border-box;
	float: left;
	margin: 50px 0 0 4%;
}

#product_nav{
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	padding: 10px 0;
}

#product_nav li{
	list-style: none;
	float: left;
}

#product_nav li a{
	text-decoration: none;
	color: #242424;
	font-size: 14px;
	margin-right: 20px;
}

#cart_wrap h2{
	width: 100%;
	margin: 40px 0 7px 0;
	font-size: 16px;
	float: left;
}

#cart_wrap h1{
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0 10px 0;
	width: 100%;
	text-align: center;
	font-family: georgia;
}

#left{
	width: 70%;
	float: left;

}

#cart_products{
	width: 100%;
	float: left;
	border-top: 1px solid #000;
	margin: 5px 0 0 0;
}

#its{
	width: 100%;
	float: left;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	font-size: 13px;
	font-weight: bold;
}

#its a{
	float: right;
	font-weight: normal;
	text-decoration: none;
	color: #2caae1;
}

#checkout{
	width: 28%;
	border: 1px solid #ccc;
	background: #e6e6e6;
	float: right;
	padding: 15px;
	box-sizing: border-box;
	margin-top: 3px;
}

#checkout h3{
	width: 100%;
	border-bottom: 1px solid #000;
	font-size: 14px;
	padding-bottom: 7px;
	margin: 0 0 20px 0;
	float: left;
}

#checkout p{
	width: 100%;
	float: left;
	line-height: 2em;
}

#checkout p span{
	float: right;
}

#checkout #total{
	border: 0;
	border-top: 1px solid #000;
	padding-top: 15px;
	font-size: 13px;
	margin: 5px 0 0 0;
	float: left;
}

#total span{
	float: right;
}

#checkout a{
	width: 100%;
	display: block;
	float: left;
	background: #f05151;
	color: #fff;
	text-decoration: none;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	border-radius: 2px;
}

#checkout a:hover{
	background: #d14747;
}

#empty_lab{
	width: 100%;
	text-align: center;
	margin-top: 180px;
	font-size: 15px;
	color: #ccc;
}

#product_nav #searc{
	float: right;
}

#cart_img{
	width: 150px;
	height: 170px;
	border: 1px solid #ccc;
	float: left;
	margin: 0 40px 0 0;
}

#c_products{
	width: 100%;
	float: left;
}

#c_products li{
	width: 100%;
	list-style: none;
	border: 1px solid red;
	margin: 20px 0 0 0;
	float:left;
}

#c_products h3{
	width: 300px;
	float: left;
}

#c_products h3 a{
	text-decoration: none;
	color: #000;
}

#c_products span{
	float: right;
	font-weight: bold;
}

#c_products p{
	width: 500px;
	float: left;
	line-height: 2em;
	margin: 10px 0 0 0;
}
