/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 #cart{
 	width: 300px;
 	right: 0;
 	top: 0;
 	height: 40px;
 	line-height: 40px;
 	position: absolute;
 }

 #cart .cart{
 	color: #fff;
 	text-decoration: none;
 	font-size: 10px;
 }

 #cart .fa-shopping-cart{
 	font-size: 12px;
 	margin: 0 5px 0 5px;
 }

 #sign_in, #sign_up{
 	color: #fff;
 	text-decoration: none;
 	font-size: 9px;
 }

 #nav span{
 	color: #fff;
 	position: absolute;
 	margin-left: 19%;
 	line-height: 40px;
 	font-size: 11px;
 	letter-spacing: 2px;
 }






























