
<div id="footer">
<ul id="footer_nav">
	<li><%= link_to "ABOUT US", about_path %></li>
	<li><%= link_to "CONTACT US", contact_path %></li>
	<li><%= link_to "FAQs", faqs_path %></li>
	<li><%= link_to "PRIVACY", privacy_path %></li>
	<li><%= link_to "TERMS", terms_path %></li>
</ul>
<%= image_tag("paypal.png", id: "paypal") %>
</div>
<p id="we">&copy; 2015 TopStore all rights reserved</p>
