<div id="nav">	
<form id="search">
		<input type="text" name="serch" id="searchf" placeholder="SEARCH" />
		<input type="submit" value="GO" id="search_btn" />
	</form>
	<span>FREE SHIPPING OVER €80</span>
	<h1 id="logo">TopStore</h1>
	
	<div id="cart">
	 	<a href="" id="sign_in">SIGN IN</a> /
		<a href="" id="sign_up">SIGN UP</a>
		<a href="<%= cart_path %>" class="cart">
			<i class="fa fa-shopping-cart"></i>
			 <%= session[:items_in_cart] %> ITEMS( S )
			€ <%= session[:total_amount] %> 
		</a>
	</div><!-- cart-->
</div><!-- nav-->
<p class="notice"><%= flash[:notice] %></p>




