<div id="terms">
<h1>GENERAL TERMS AND CONDITIONS</h1>
<p>
Welcome to TopStore Web Site ('Site '). Please review the following basic terms that govern your use of and purchase of products from our Site. These terms rule all purchases that are made by consumers through the online-shop of TopStore.
</p>
<h3>GENERAL</h3>
<p>
You may purchase retail products by using this Site. We may from time to time change the terms that govern your use of our Site with effect for the future. Please read the terms carefully in advance of completing your purchase.
</p>
<h3>USE RESTRICTIONS AND COPYRIGHT LAW</h3>
<p>
	You understand and accept that all information, data, text, software, music, sound, photographs, graphics, audio, video, or other material appearing on this Site (collectively, 'Content') that are capable of being protected are owned by Forever21 or its licensors. You are expressly prohibited from using any Content without the express written consent of Forever21 or its licensors unless applicable legal provisions or principles (such as fair use or exhaustion) give you a right to use such content without consent. It is especially prohibited to reproduce, distribute, republish, download, display, post, transmit, or copy any of the material in any form or by any means, without the prior written permission of Forever21, and/or the appropriate licensor. It is admissible to copy and distribute the materials on this Site solely for personal, non-commercial use provided that all copyright and other proprietary notices contained in the materials are retained. You may not, without Forever21's express written permission; 'mirror' any material contained on this Site or any other server. Forever21 points out that any unauthorized use of any material contained on this Site may violate domestic and/or international copyright laws and the laws of privacy and publicity.
</p>
<h3>TRADEMARKS</h3>
<p>
	'FOREVER21' is a registered trademark, service mark, and/or trade name of Forever21. All other trademarks, service marks, and trade names contained in the Site are the properties of the respective owners even in case this is not explicitly indicated. Forever21 disclaims any proprietary interest in trademarks, service marks and trade names other than its own. Forever21 only uses these marks for identification purpose but not for self-promotion. No use of these marks may be made without the prior written authorization of Forever21, except as necessary to accurately identify the products or services of Forever21.
</p>
<h3>USER COMMENTS, FEEDBACK, POSTCARDS AND OTHER SUBMISSIONS</h3>
<p>
	A registered user may disclose, submit or offer to Forever 21 comments, questions, feedback, suggestions, ideas, and other submissions on or by this Site (collectively, 'Comments'). Other user may disclose, submit or offer any Comments by mail, e.g by. submit a postcard .These Comments shall be and remain Forever 21's property . The user submitting any Comments agrees to assign to Forever 21 all worldwide rights, titles and interests in all copyrights and other intellectual properties in the Comments without time restrictions. Thus, Forever 21 will own exclusively all such rights, titles and interests and shall not be limited in any way in its use, commercial or otherwise, of any Comments . Forever 21 is and shall be under no obligation (1) to maintain any Comments in confidence; (2) to pay to user any compensation for any Comments; or (3) to respond to any user Comments. 
	<br /><br />
	You agree that no Comments submitted by you to the Site will violate any right of any third party, including copyright, trademark, privacy or other personal or proprietary right(s). You further agree that no Comments submitted by you to the Site will be or contain libelous or otherwise unlawful, abusive or obscene material. You are and shall remain solely responsible for the content of any such Comments you make.
	<br /><br />
	Please see our Privacy Policy regarding any personal information you transmit to Forever21.
</p>
<h3>FOREVER 21'S COMMUNICATIONS TO YOU</h3>
<p>
	You must be registered as a registered user of the Site in order to purchase a product or to submit any Comments.
	You agree that Forever 21 may send electronic mail to you in order to fulfill the contract.
</p>
<h3>CONTENTS/PROMOTIONS</h3>
<p>
	Any contests or promotions described or posted on this Site shall be governed by the rules regulating such event or described in connection with such event.
</p>
<h3>PRODUCT AND PRICE INFORMATION</h3>
<p>
	Most Forever21 products displayed at the Site are available in select Forever21 stores while supplies last. In some cases, merchandise displayed for sale at the Site may not be available in Forever21 stores. 
	<br /><br />
	The prices displayed at the Site are quoted in Euros inclusive of VAT and are valid and effective only in the European Union.
</p>
<h3>COLORS</h3>
<p>
	We have made every effort to display, as accurately as possible, the colors of our products that appear at the Site. However, as the actual colors you see will depend on your monitor, we cannot guarantee that your monitor's display of any color will be accurate.
</p>
<h3>LINKS TO OTHER WEB SITES AND SERVICES</h3>
<p>
	To the extent that this Site contains links to outside services and resources, which Forever21 does not control, any concerns regarding any such service or resource, or any link thereto, should be directed to the particular outside service or resource.
	<br /><br />
	The following applies for every link: Forever 21 cannot influence the content, design or availability of the linked website. The use of links which connect to outside websites lays in the sole responsibility of the user.
</p>
<h3>RETENTION OF TITLE</h3>
<p>
	We retain title to the goods until receipt of all payments in full.
</p>
<h3>RETURNS</h3>
<p>
	If you are not completely satisfied with your Forever 21.com purchase, you may return it with your invoice to any Forever 21 store or by mail. Please see our Return Policy for details.
</p>
<h3>REVOCATION POLICY</h3>
<p>
	You may revoke your contractual agreement in writing (e.g. letter, fax, email) within two weeks without giving reasons for such revocation or - if the item has been sent to you prior to the expiration of the period - by returning the item. The period begins upon receipt of this declaration in writing, however not prior to the receipt of the goods by the consignee (if the same type of goods are supplied on repeated occasions, not prior to the receipt of the first consignment) and not prior to the fulfillment of our duty of information pursuant to the applicable laws. The revocation period is observed by timely sending the declaration of revocation or dispatching the item. 
	<br /><br />
The declaration of revocation shall be directed to the following address:
<br /><br />
Forever 21 E-Commerce B.V. <br />
Westbroek 64-66<br />
4822 ZW Breda<br />
The Netherlands <br />
<br /><br />
+31765480888<br />
EUcustomerservice@forever21.com
<br /><br />
The goods shall be returned to the following address: 
<br /><br />
Forever 21<br />
Leeghwaterweg 8<br />
Bergen op Zoom, 4612RD<br />
Nederland
</p>
<h3>INDEMNIFICATION</h3>
<p>
	Forever 21 shall have unrestricted liability for intentional and grossly negligent actions.
<br /><br />
In case of slight negligence Forever 21 shall be liable up to typical foreseeable damages.
<br /><br />
Limitations or exclusions of liability according to this clause shall not apply to claims based on applicable product liability laws, and to damages of life, body and health or if Forever 21 has given a guarantee of quality.
<br /><br />
If Forever 21’s liability is excluded or limited, such an exclusion or limitation shall also apply to personal liability for its employees, representatives or vicarious agents.
<br /><br />
The buyer shall indemnify Forever 21, its employees, representatives, agents and vicarious agents from any liability towards third parties, which arises from any culpable infringement of the contract by the buyer. The buyer shall compensate Forever 21 and the aforementioned persons for all necessary and reasonable costs of defense.
</p>
<h3>MISCELLANEOUS</h3>
<p>
	If any condition or part of these General Sales Conditions and Terms should be or become invalid then this shall not affect the validity of the rest of the General Sales Conditions and Terms. The invalid provision shall be replaced by a valid provision which shall be as close as possible to the spirit and purpose of the lapsed provision. The same applies in case of a regulatory gap. 
<br /><br />
Forever 21 E-Commerce B.V. <br />
Address: <br />
Westbroek 64-66 <br />
4822 ZW Breda<br />
The Netherlands <br /><br />

Chamber of Commerce registration number: 51000164
</p>
</div><!--terms -->