#footer{
	width: 100%;
	height: 280px;
	background: #3c3831;
	color: #fff;
	float:left;
	margin-top: 600px;
}

#we{
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #3c3831;
	color: #999;
	display: block;
	margin: 0 0 1px 0;
	float: left;
}

#paypal{

	margin: 0 auto;
	display: block;
}

#footer_nav{
	width: 95%;
	margin: 20px 0 20px 5%;
	float: left;
}

#footer_nav li{
	list-style: none;
	float: left;
}

#footer_nav li a{
	text-decoration: none;
	float: left;
	color: #fff;
	border-radius: 5px;
	padding: 3px 5px;
	margin: 0 20px 0 0;	
	letter-spacing: 0;	
	font-size: 12px;
}

