/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new= require_tr .
 * file per style scope.
 *
 *= require navigation
 *= require footer
 *= require_self
 */

#main_wrap{
	width: 90%;
	float: left;
	margin: 40px 0 0 5%;
}

#terms{
 	color: #696969;
 	width: 70%;
 	margin: 40px 0 0 0;
 }

 #terms h1{
 	font-size: 16px;
 	width: 100%;
 	float: left;
 	margin: 0 0 20px 0;
 }

 #terms h3{
 	font-size: 12px;
 	width: 100%;
 	float: left;
 	margin: 30px 0 0 0;
 }

 #terms p{
 	font-size: 12px;
 }