<h1>Listing products</h1>
<h1>Catalog</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <%= link_to product.title, product %>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>

        <%= link_to (image_tag product.image_url, :style => "height:100px"), product %>

        <td><%= product.price %></td>
        <td><%= product.category %></td>
        <td><%= product.subcategory %></td>
        <td><%= product.brand %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>

      <% if session[:login] == 1 %>
        <%= link_to 'Edit', edit_product_path(product) %> |
        <%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
        <% else %>
        <a href="/cart/<%= product.id %>">Add to Cart</a><br><br>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Product', new_product_path %>
